:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;



  --first-brand-color: #ece7de;
  --second-brand-color: #c04544;
  --third-brand-color: #1b1a19;
  --fourth-brand-color: #c3c3c3;

  --main-font:  'Montserrat';
  --title-font:  'Montserrat Bold';
  --main-title-font: 'Montserrat Black';

  font-size: 62.5%;
}
